@font-face {
  font-family: "Eksell";
  src: url("../../fonts/EksellDisplayWeb.woff2") format("woff2"),
    url("../../fonts/EksellDisplayWeb.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Strawford";
  src: url("../../fonts/strawford-thin-webfont.woff2") format("woff2"),
    url("../../fonts/strawford-thin-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 100;
}

@font-face {
  font-family: "Strawford";
  src: url("../../fonts/strawford-light-webfont.woff2") format("woff2"),
    url("../../fonts/strawford-light-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Strawford";
  src: url("../../fonts/strawford-regular-webfont.woff2") format("woff2"),
    url("../../fonts/strawford-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Strawford";
  src: url("../../fonts/strawford-medium-webfont.woff2") format("woff2"),
    url("../../fonts/strawford-medium-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 500;
}
