@import "colors";

body {
  background-color: $blue2;
}

.non-split-text {
  position: fixed;
  z-index: -1;
  top: -1000vh;
  left: -1000vw;
}

.fixed-back {
  position: fixed;
  // z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

#hero {
  z-index: 20;
}

#background-svg-hero {
  z-index: 19;
}

#why {
  z-index: 18;
}

#background-svg-why {
  z-index: 17;
}

#callout {
  z-index: 16;
}

#background-svg-callout {
  z-index: 15;

  * {
    will-change: transform;
  }
}

#background-svg-callout-2-1 {
  fill: white;
}

#background-svg-what {
  z-index: 16;
}

#whatscroll {
  z-index: 102;
}

#what {
  z-index: 18;
}

#background-svg-who {
  z-index: 19;
}

#who {
  z-index: 20;
}

#background-svg-careers {
  z-index: 1;
}

#background-svg-hero-1 {
  fill: $clay3;
}

#background-svg-hero-2 {
  fill: $clay1;
}

#background-svg-hero-3 {
  fill: $blue3;
}

#background-svg-why-1 {
  fill: $blue2;
}

#background-svg-why-2 {
  fill: $blueOverlay;
}

#background-svg-why-2-2 {
  opacity: 0;
  fill: $blueOverlay;
}

#background-svg-callout {
  overflow: hidden;

  svg {
    position: absolute;
    width: 135%;
    height: 215%;
  }

  #background-svg-callout-gradient-1 {
    top: -10px;
    left: -20%;
    transform: translateX(100vh);
  }

  #background-svg-callout-gradient-2 {
    bottom: 10px;
    right: -20%;
    transform: translateX(-100vh);
  }
}

#background-svg-what {
}

#background-svg-what-1 {
  fill: $clay1;
}
#background-svg-what-2 {
  fill: $clay1;
}

#background-svg-what-3 {
  fill: $blue2;
}

#background-svg-who-1 {
  fill: $blue2;
}

#background-svg-who-2,
#background-svg-who-3 {
  fill: $blueOverlay;
}

#background-svg-careers-1 {
  fill: $blue3;
}
#background-svg-careers-2 {
  fill: $clay1;
}
#background-svg-careers-3 {
  fill: $clay2;
}

.hidden-svg {
  display: none;
}

//////////////////////////
///// HERO SECTION ///////
//////////////////////////

.hero-section {
  // position: fixed;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100vh;
  // padding: 0px 0 50px 0;
  overflow: hidden;

  // Content Is Fixed for Animation
  .content {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100%;
    text-align: center;
  }

  .hAnimEven,
  .hAnimOdd {
    // transform: translate(0px, 0px);
    will-change: transform;
  }

  .preheadline {
    // color: $blue2;
    position: absolute;
    bottom: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .hero-logo-mark {
    fill: $blue2;
    width: 120px;
    margin-top: -50px;
  }

  h1 {
    margin: 30px 0 12px 0;
    max-width: 700px;
  }

  h4,
  p {
    color: $blue1;
    max-width: 400px;
  }
}

//////////////////////////
///// WHY SECTION ///////
//////////////////////////

.why-section {
  color: white;
  padding: 0;

  .content {
  }
  .why-clock-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    .content {
      width: 100%;
      height: 100vh;
    }
  }
  .why-clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33.333333%;
    padding: 50px 50px 0 0;
    height: 100vh;

    .money-clock {
      fill: $clay1;
      max-width: 300px;
    }
  }

  .why-main-content {
    justify-content: flex-end;
  }

  .words-half {
    width: 66.66666%;

    h2 {
      color: white;
      margin-bottom: 40px;
    }

    p {
      max-width: 630px;
    }
  }
  .list-area {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid $clay1;
    margin-bottom: 80px;
  }

  .single-item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    color: $clay1;
    border-top: 1px solid $clay1;
    overflow: hidden;

    img {
      width: 40px;
    }

    p {
      margin: 30px 50px;
      max-width: 440px;
    }
  }
}

////////////////////////////
///// CALLOUT SECTION //////
////////////////////////////
.callout-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 100%;
  height: 100vh;
  margin-bottom: 50vh;
  color: $blue2;
  padding: 0;

  .content {
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-content: center;
    height: 100%;
  }
  .callout-text {
    text-align: center;
    max-width: 930px;
    font-size: 48px;
  }

  .calloutBodyLinesWrap {
    overflow: hidden;
  }
}

/////////////////////////
///// WHAT SCROLLER /////
/////////////////////////

.what-scroller {
  background: white;
  height: 100px;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0;
  border-top: 1px solid $blue2;
}

.what-scroller-inner {
  width: auto;
  display: flex;
  align-items: center;
  height: 100px;
  // offset for scroll
  padding: 0 40px;
}
.single-scroller {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: auto;
  flex-shrink: 0;
  padding: 0 40px;
  font-size: 28px;
  line-height: 1;
  font-family: "Eksell";
  color: $blue2;
}

/////////////////////////
///// WHAT SECTION //////
/////////////////////////
.what-section {
  color: $blue2;
  padding: 0;

  .top-half {
    border-top: 1px solid $blue2;
  }

  .bottom-half {
    position: relative;
    border-top: 1px solid $blue2;
    border-bottom: 1px solid $blue2;
    .content {
      padding: 0;
    }
  }

  .headline-half {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    padding: 120px 50px 100px 0px;
    text-align: right;
    overflow: hidden;
    border-right: 1px solid $blue2;

    h2 {
      z-index: 2;
      position: relative;
      max-width: 520px;
    }
  }

  .body-half {
    padding: 112px 0 100px 50px;
    width: 50%;
    overflow: hidden;

    p {
      z-index: 2;
      position: relative;
      max-width: 520px;
    }
  }

  .headline-half-back,
  .body-half-back {
    z-index: 1;
    background-color: $clay1;
  }

  .list-area {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }

  .single-item {
    position: relative;
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    border-top: 1px solid $clay1;
    text-align: center;
    padding: 70px 30px 100px 30px;
    border-right: 1px solid $blue2;
    overflow: hidden;
    background-color: $clay1;

    &:nth-of-type(1) {
      border-left: 1px solid $blue2;
    }

    img {
      z-index: 3;
      width: 60px;
      margin-bottom: 30px;
    }

    p {
      margin: 30px 50px;
      max-width: 440px;
    }

    .single-item-cover {
      z-index: 2;
      background-color: $clay1;
      top: auto;
      bottom: 0;
      // border-right: 1px solid $blue2;
      // height: 10px;
    }
  }
}

/////////////////////////
///// WHO SECTION //////
/////////////////////////
.who-section {
  // background: $blue2;
  color: $clay1;
  padding: 0;

  .content {
    padding: 0;
  }

  a {
    display: inline-block;
    color: $clay1;
    transition: none;
  }

  .headline-block {
    width: 50%;
    text-align: center;
    padding: 0 50px;
  }

  h1 {
    color: $clay1;
  }

  .single-item {
    width: 25%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0px 25px;
    margin-bottom: 90px;

    .person-image {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 300px;
      border-top-right-radius: 40px 40px;
      margin-bottom: 20px;
    }

    &:nth-of-type(odd) {
      .person-image {
        border-top-right-radius: 0px 0px;
        border-bottom-left-radius: 40px 40px;
      }
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    .person-info {
    }
    .person-name {
      font-weight: 300;
      font-size: 26px;
      // margin-bottom: 5px;
    }

    .person-title {
      margin-bottom: 16px;
    }

    a {
      &:after {
        background-color: $clay1;
      }
    }
  }
}

////////////////////////////
///// CAREERS SECTION //////
////////////////////////////
.careers-section {
  .content {
    flex-direction: column;
    padding-top: 0px;
  }

  a {
    color: $blue1;
  }
  .careers-half {
    width: 50%;
    margin-bottom: 160px;
    transform: translateX(12%);
  }

  .contact-half {
    display: flex;
    flex-wrap: wrap;
    width: 68%;
    margin-bottom: 120px;
    align-self: flex-end;
    h2 {
      width: 100%;
    }

    a {
      &:after {
        display: none;
      }
    }

    span {
      display: inline-block;
      width: 25%;
      margin-top: 1em;
    }
  }
}

// 1024px And Below
@media screen and (max-width: 1024px) {
  .callout-section {
    .callout-text {
      font-size: 36px;
    }
  }

  .what-section {
    .single-item {
      width: 50%;
      border-bottom: 1px solid $blue2;
      border-left: 0px solid $blue2;

      &:nth-of-type(2),
      &:nth-of-type(4) {
        border-right: 0px solid $blue2;
      }
      &:nth-of-type(1),
      &:nth-of-type(3) {
        border-left: 0px solid $blue2;
        border-right: 1px solid $blue2;
      }
    }
  }

  .who-section {
    padding-top: 80px;

    .single-item {
      width: 33.3333%;
    }

    .headline-block {
      width: 100%;
      text-align: left;
      margin: 0;
      padding: 0 25px;
      margin-bottom: 90px;

      h1 {
        // border-top: 1px solid $clay1;
        // border-bottom: 1px solid $clay1;
        padding: 60px 25px;
      }
    }
  }

  .careers-section {
    .careers-half,
    .contact-half {
      // width: 70%;
      // transform: translateX(0);
    }

    .contact-half {
      span {
        width: 50%;
        margin-bottom: 40px;
      }
    }
  }
}

@media screen and (max-width: 885px) {
  .who-section {
    .single-item {
      width: 50%;
    }
  }
}

// 767px And Below
@media screen and (max-width: 799px) {
  .hero-section {
    .hero-logo-mark {
      margin-top: 0;
      width: 75px;
    }
  }

  .why-section {
    .words-half,
    .image-half {
      width: 100%;
    }

    .words-half {
    }

    .image-half {
      text-align: center;
      padding: 0;
      margin-bottom: 60px;
    }

    .single-item {
      p {
        margin: 30px 20px 30px 30px;
      }
      img {
        width: 30px;
      }
    }
  }

  .callout-section {
    .callout-text {
      font-size: 28px;
      padding-left: 25px;
      padding-right: 25px;
    }
  }
  .what-section {
    .headline-half,
    .body-half {
      width: 100%;
    }

    .headline-half {
      padding: 60px 0 20px 0;
      border-right: 0px solid red;
      text-align: left;
    }

    .body-half {
      padding-left: 0;
      padding: 0;
      padding-bottom: 60px;
    }

    .single-item {
      width: 100%;
      padding-bottom: 70px;

      &:nth-of-type(1),
      &:nth-of-type(3) {
        border-right: 0px solid white;
      }
    }
  }

  .who-section {
    padding-top: 100px;
    .headline-block {
      order: 1;
      h1 {
        padding: 0px 0;
        // font-size:50px;
      }
    }

    .single-item {
      order: 2;
      width: 100%;
    }
  }

  .careers-section {
    padding-top: 0px;
    .careers-half,
    .contact-half {
      margin-bottom: 90px;
      width: 100%;
      transform: translateX(0);
    }

    .contact-half {
      span {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }
}
